<%- include("common/header.ejs") %>
    <%- include("common/navbar.ejs") %>

    <main id="main-about-us">
        <section id="services-banner">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-4 p-0">
                        <img src="/img/services/banner-bg.png" class="services-banner-img img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h1 class="services-banner-header">About Us</h1>
                        <p class="services-banner-subheader">
                            Why I say old chap that is spiffing off his nut arse pear shaped plastered
                            Jeffrey bodge barney some dodgy.!!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-droplets">
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8" style="z-index: 30 !important;">
                        <h1 class="services-how-we-work-header mb-4">
                            You SaasLand wherever your
                            business agency
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container services-features-items">
                <div class="row justify-content-center about-us-features">
                    <div class="col-10 col-lg-4">
                        <div class="services-features-box">
                           <div class="shape">
                                <i class="ti-panel text-white"></i>
                                <img src="/img/about-us/icon_shape1.png" width="75" height="75" class="mb-4" alt="">
                           </div>
                            <div class="services-box-content about-us-features-content">
                                <p>Export Presets</p>
                                <span>Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-4">
                        <div class="services-features-box">
                            <div class="shape">
                                <i class="ti-view-grid text-white"></i>
                                <img src="/img/about-us/icon_shape2.png" width="75" height="75" class="mb-4" alt="">
                            </div>
                            <div class="services-box-content about-us-features-content">
                                <p>Export Presets</p>
                                <span>Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-4">
                        <div class="services-features-box">
                            <div class="shape">
                                <i class="ti-gallery text-white"></i>
                                <img src="/img/about-us/icon_shape3.png" width="75" height="75" class="mb-4" alt="">
                            </div>
                            <div class="services-box-content about-us-features-content">
                                <p>Export Presets</p>
                                <span>Bog cheeky bugger blow off only a quid grub he legged it porkies tosser young delinquent argy-bargy.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-us-content">
            <div class="container-fluid p-4">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6 p-0">
                        <div class="about-us-content-box">
                            <h4>Why I say old chap that is spiffing bodge, blag pardon.</h4>
                            <p>Why I say old chap that is spiffing off his nut arse pear shaped plastered Jeffrey bodge barney some dodgy.!</p>
                            <a href="#" >Meet your team</a>
                            <div class="mt-2">
                                <div class="owl-box-1">
                                    <i id="owl-button-1" class="ti-arrow-circle-left"></i>
                                    <i id="owl-button-2" class="ti-arrow-circle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6 p-0">
                            <div id="owl-2" class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="about-us-carousel-box one">

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="about-us-carousel-box two">

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="about-us-carousel-box three">

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="about-us-carousel-box four">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section id="about-us-team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6" style="z-index: 30 !important;">
                        <h1 class="services-how-we-work-header">
                            The Experts Team
                        </h1>
                        <p class="services-how-we-work-subheader">
                            Why I say old chap that is spiffing barney, nancy boy bleeder chimney
                            pot richard cheers the little rotter.!
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-6 col-lg-3">
                        <div class="team-item one" id="team-1">
                            <div class="team-item-content" id="team-item-content-1">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                            <div class="team-item-hovered" id="team-item-hovered-1">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-md-6 col-lg-3">
                        <div class="team-item one"  id="team-2">
                            <div class="team-item-content" id="team-item-content-2">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                             <div class="team-item-hovered" id="team-item-hovered-2">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-md-6 col-lg-3">
                        <div class="team-item one" id="team-3">
                            <div class="team-item-content" id="team-item-content-3">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                            <div class="team-item-hovered" id="team-item-hovered-3">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-md-6 col-lg-3">
                        <div class="team-item one" id="team-4">
                            <div class="team-item-content" id="team-item-content-4">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                            <div class="team-item-hovered" id="team-item-hovered-4">
                                <h4>Name Surname</h4>
                                <p>Position</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="map-area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.078440372762!2d-73.98459478506253!3d40.73829947932906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2590a7a9839b3%3A0x117169e7a68dc296!2s220%20E%2023rd%20St%2C%20New%20York%2C%20NY%2010010%2C%20Amerika%20Birle%C5%9Fik%20Devletleri!5e0!3m2!1str!2s!4v1619609705415!5m2!1str!2s" width="600" height="450" style="border:0;" allowfullscreen=""></iframe>
        </section>

        <%- include("common/footer-content-secondary.ejs") %>
    </main>
<%- include("common/footer.ejs") %>
