<%- include("common/header.ejs") %>
    <%- include("common/navbar.ejs") %>

    <main id="main-faq">
        <section id="services-banner">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-4 p-0">
                        <img src="/img/services/banner-bg.png" class="services-banner-img img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h1 class="services-banner-header">FAQs</h1>
                        <p class="services-banner-subheader">
                            Why I say old chap that is spiffing off his nut arse pear shaped plastered
                            Jeffrey bodge barney some dodgy.!!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-4">
                        <div class="sidebar-box">
                            <span class="navigation-header">Quick Navigation</span>
                            <div class="question-header-div">
                                <p id="nav-1" class="active">Customer Support</p>
                                <div id="q-u-1" class="q-underline active"></div>
                            </div>
                            <div class="question-header-div">
                                <p id="nav-2">License</p>
                                <div id="q-u-2" class="q-underline"></div>
                            </div>
                            <div class="question-header-div">
                                <p id="nav-3">Pricing & Support</p>
                                <div id="q-u-3" class="q-underline"></div>
                            </div>
                            <div class="question-header-div">
                                <p id="nav-4">Purchasing Online</p>
                                <div id="q-u-4" class="q-underline"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-8 mt-5 mt-lg-0">
                        <div id="question-1">
                            <span class="questions-header">Customer Support</span>
                            <div class="questions">
                                <div class="each-question" id="q1-h">
                                    <div class="question">
                                        <h5 id="q1-h-1" class="active">How do I repair an item?</h5>
                                        <i class="ti-minus" id="q1-icon"></i>
                                    </div>
                                    <div class="question-body collapsed" id="q1-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q2-h">
                                    <div class="question">
                                        <h5  id="q2-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q2-icon"></i>
                                    </div>
                                    <div class="question-body" id="q2-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q3-h">
                                    <div class="question">
                                        <h5  id="q3-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q3-icon"></i>
                                    </div>
                                    <div class="question-body" id="q3-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q4-h">
                                    <div class="question">
                                        <h5  id="q4-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q4-icon"></i>
                                    </div>
                                    <div class="question-body" id="q4-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="d-none" id="question-2">
                            <span class="questions-header">License</span>
                            <div class="questions">
                                <div class="each-question" id="q5-h">
                                    <div class="question">
                                        <h5 id="q5-h-1" class="active">How do I repair an item?</h5>
                                        <i class="ti-minus" id="q5-icon"></i>
                                    </div>
                                    <div class="question-body collapsed" id="q5-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q6-h">
                                    <div class="question">
                                        <h5  id="q6-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q6-icon"></i>
                                    </div>
                                    <div class="question-body" id="q6-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q7-h">
                                    <div class="question">
                                        <h5  id="q7-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q7-icon"></i>
                                    </div>
                                    <div class="question-body" id="q7-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q8-h">
                                    <div class="question">
                                        <h5  id="q8-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q8-icon"></i>
                                    </div>
                                    <div class="question-body" id="q8-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="d-none" id="question-3">
                            <span class="questions-header">Pricing & Support</span>
                            <div class="questions">
                                <div class="each-question" id="q9-h">
                                    <div class="question">
                                        <h5 id="q9-h-1" class="active">How do I repair an item?</h5>
                                        <i class="ti-minus" id="q9-icon"></i>
                                    </div>
                                    <div class="question-body collapsed" id="q9-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q10-h">
                                    <div class="question">
                                        <h5  id="q10-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q10-icon"></i>
                                    </div>
                                    <div class="question-body" id="q10-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q11-h">
                                    <div class="question">
                                        <h5  id="q11-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q11-icon"></i>
                                    </div>
                                    <div class="question-body" id="q11-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q12-h">
                                    <div class="question">
                                        <h5  id="q12-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q12-icon"></i>
                                    </div>
                                    <div class="question-body" id="q12-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div class="d-none" id="question-4">
                            <span class="questions-header">Purchasing Online</span>
                            <div class="questions">
                                <div class="each-question" id="q13-h">
                                    <div class="question">
                                        <h5 id="q13-h-1" class="active">How do I repair an item?</h5>
                                        <i class="ti-minus" id="q13-icon"></i>
                                    </div>
                                    <div class="question-body collapsed" id="q13-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q14-h">
                                    <div class="question">
                                        <h5  id="q14-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q14-icon"></i>
                                    </div>
                                    <div class="question-body" id="q14-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q15-h">
                                    <div class="question">
                                        <h5  id="q15-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q15-icon"></i>
                                    </div>
                                    <div class="question-body" id="q15-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>

                                <div class="each-question" id="q16-h">
                                    <div class="question">
                                        <h5  id="q16-h-1">How do I repair an item?</h5>
                                        <i class="ti-plus" id="q16-icon"></i>
                                    </div>
                                    <div class="question-body" id="q16-b">
                                        <p>Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!</p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include("common/footer-content-secondary.ejs") %>
    </main>
<%- include("common/footer.ejs") %>
