<%- include("common/header.ejs") %> <%- include("common/navbar.ejs") %>

<main id="main-landing">
  <section id="landing">
    <div id="hero-shape-big">
      <img src="img/landing/hero-shape-big.png" alt="" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="landing-div slideUpLg">
            <h1>Your Unified Solution For PC Security and Performance</h1>
            <p>Download Free Antivirus and System Optimization Utility</p>
            <div class="landing-features">
              <div>
                <a href="#">Free Download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-3 mt-lg-0">
          <div>
            <img
              src="img/landing/banner-1.png"
              class="img-fluid landing-image slideUpLg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="hero-shape-small">
    <img src="img/landing/hero-shape.png" alt="" />
  </div>

  <section id="security">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="security-header">
            <h1 class="security-header">Security</h1>
            <h1 class="security-subheader">Total digital protection</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container security-features">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <div class="security-box" id="security-box-1">
            <div class="security-box-left">
              <img
                src="img/landing/security_1.png"
                width="190"
                height="196"
                alt=""
              />
            </div>
            <div class="security-box-right">
              <h4>Share research with the whole team</h4>
              <span
                >My good sir car boot super old owt to do with me say no biggie
                cheeky bugger</span
              >
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-6">
          <div class="security-box" id="security-box-2">
            <div class="security-box-left">
              <img
                src="img/landing/security_2.png"
                width="190"
                height="196"
                alt=""
              />
            </div>
            <div class="security-box-right">
              <h4>Share research with the whole team</h4>
              <span
                >My good sir car boot super old owt to do with me say no biggie
                cheeky bugger</span
              >
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-6">
          <div class="security-box" id="security-box-3">
            <div class="security-box-left">
              <img
                src="img/landing/security_3.png"
                width="190"
                height="196"
                alt=""
              />
            </div>
            <div class="security-box-right">
              <h4>Share research with the whole team</h4>
              <span
                >My good sir car boot super old owt to do with me say no biggie
                cheeky bugger</span
              >
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-6">
          <div class="security-box" id="security-box-4">
            <div class="security-box-left">
              <img
                src="img/landing/security_4.png"
                width="190"
                height="196"
                alt=""
              />
            </div>
            <div class="security-box-right">
              <h4>Share research with the whole team</h4>
              <span
                >My good sir car boot super old owt to do with me say no biggie
                cheeky bugger</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="popular">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="popular-header">
            <h1 class="popular-header">Popular</h1>
            <h1 class="popular-subheader">Simple yet Powerful</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-4">
          <div class="popular-box p-box-1" id="popular-box-1">
            <img src="img/landing/shield.png" width="69" height="80" alt="" />
            <div class="popular-box-text">
              <span>Protection</span>
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-4">
          <div class="popular-box p-box-2" id="popular-box-2">
            <img src="img/landing/rocket.png" width="69" height="80" alt="" />
            <div class="popular-box-text">
              <span>Speedup</span>
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-4">
          <div class="popular-box p-box-3" id="popular-box-3">
            <img
              src="img/landing/real-estate.png"
              width="69"
              height="80"
              alt=""
            />
            <div class="popular-box-text">
              <span>Cleanup</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="pictures">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <img src="img/landing/f1.png" class="img-fluid" alt="" />
        </div>
        <div class="col-10 col-lg-6">
          <div class="pictures-box">
            <h1>Explore user behavior on an individual level of detail</h1>
            <p>
              Why I say old chap that is spiffing cobblers it’s your round,
              haggle bits and bobs golly gosh up the duff mush well car boot
              bevvy.
            </p>
            <ul class="pictures-box-list">
              <li>
                <span>Flexible, fast reporting:</span> On your bike mate
                cobblers I don't want no agro bleeding crikey
              </li>
              <li>
                <span>Access our data anywhere:</span> James Bond Queen's
                English mufty it's all gone to pot bobby elizabeth.
              </li>
              <li>
                <span>Invite your entire team:</span> So I said in my flat
                Elizabeth no biggie me old mucker smashing starkers spiffing
                wind up, cobblers chip shop.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr />
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <div class="pictures-box">
            <h1>Explore user behavior on an individual level of detail</h1>
            <p>
              Why I say old chap that is spiffing cobblers it’s your round,
              haggle bits and bobs golly gosh up the duff mush well car boot
              bevvy.
            </p>
            <ul class="pictures-box-list">
              <li>
                <span>Flexible, fast reporting:</span> On your bike mate
                cobblers I don't want no agro bleeding crikey
              </li>
              <li>
                <span>Access our data anywhere:</span> James Bond Queen's
                English mufty it's all gone to pot bobby elizabeth.
              </li>
              <li>
                <span>Invite your entire team:</span> So I said in my flat
                Elizabeth no biggie me old mucker smashing starkers spiffing
                wind up, cobblers chip shop.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-10 col-lg-6">
          <img src="img/landing/security-f2.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section id="package">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="package-header">
            <h1 class="package-header">SaasLand Package.</h1>
            <h1 class="package-subheader">
              Free essentials or ultimate protection?
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <div class="tracking-box-wrapper">
            <div class="item">
              <span class="head">Time tracking</span>
            </div>
            <div class="item orange">
              <span class="head">Free</span>
              <span class="price">$0.0/ mo</span>
            </div>
            <div class="item purple">
              <span class="head">Enterprise</span>
              <span class="price">$0.0/ mo</span>
            </div>
            <div class="item blue">
              <span class="head">Unlimited</span>
              <span class="price">$0.0/ mo</span>
            </div>
          </div>
          <div class="tracking-box-feature-wrapper">
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
            <div class="tracking-row">
              <div class="item gray">
                <span class="head"
                  ><i class="fas fa-info-circle"></i
                  ><span>Time tracking</span></span
                >
              </div>
              <div class="item">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item gray">
                <span class="check"><i class="far fa-check-circle"></i></span>
              </div>
              <div class="item">
                <span class="check-times"><i class="fas fa-times"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="internet">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <div class="internet-box">
            <h1 class="internet-header">Protect what’s</h1>
            <h1 class="internet-subheader">Yours with Internet Security</h1>
            <p>
              Nancy boy brown bread get stuffed mate a matie boy I grub cheeky
              horse play bobby argy-bargy loo, fantastic cockup pukka William
              bum bag the little rotter arse over tit cuppa.!
            </p>
            <div class="internet-box-list">
              <div>
                <i class="fas fa-check"></i>
                <span>Client Accounts</span>
              </div>
              <div>
                <i class="fas fa-check"></i>
                <span>Client Accounts</span>
              </div>
              <div>
                <i class="fas fa-check"></i>
                <span>Client Accounts</span>
              </div>
              <div>
                <i class="fas fa-check"></i>
                <span>Client Accounts</span>
              </div>
              <div>
                <i class="fas fa-check"></i>
                <span>Client Accounts</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10 col-lg-6">
          <div class="internet-image-z-index">
            <img src="img/landing/internet.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <img src="img/landing/down_bg.png" class="down-bg" alt="" />
    </div>
  </section>

  <section id="clients">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div id="clients-header">
            <h1 class="clients-header">Our Clients.</h1>
            <h1 class="clients-subheader">World-class protection</h1>
            <p class="clients-subsubheader">
              Naff pukka zonked squiffy quaint knees up cup of tea Oxford the
              BBC bloke ummm I’m telling, argy-bargy show off show off pick your
              nose and blow off hanky.!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="access">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div id="access-header">
            <h1 class="clients-header">Discover just how.</h1>
            <h1 class="clients-subheader">Awesome access control can be.</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-1">
            <img
              src="img/landing/icons/metorik.png"
              width="50"
              height="50"
              alt=""
            />
            <span>KISSmetrics</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-2">
            <img
              src="img/landing/icons/metorik.png"
              width="50"
              height="50"
              alt=""
            />
            <span>Metorik</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-3">
            <img
              src="img/landing/icons/nicereply-1.png"
              width="50"
              height="50"
              alt=""
            />
            <span>Nicereply</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-4">
            <img
              src="img/landing/icons/update-1.png"
              width="50"
              height="50"
              alt=""
            />
            <span>Software Updater</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-5">
            <img
              src="img/landing/icons/campfire.png"
              width="50"
              height="50"
              alt=""
            />
            <span>Campfire</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-6">
            <img
              src="img/landing/icons/webhooks.png"
              width="50"
              height="50"
              alt=""
            />
            <span>Webhooks</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-7">
            <img
              src="img/landing/icons/wedsite.png"
              width="50"
              height="50"
              alt=""
            />
            <span>Browser Safety</span>
          </div>
        </div>
        <div class="col-10 col-md-6 col-lg-3">
          <div class="access-box" id="access-box-8">
            <img
              src="img/landing/icons/briteverify.png"
              width="50"
              height="50"
              alt=""
            />
            <span>BriteVerify</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="action">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="action-wrapper">
            <div class="action-box">
              <div class="action-left">
                <img src="img/landing/shield.png" alt="" />
              </div>
              <div class="action-right">
                <h1 class="action-header">Want to see Sequr in action?</h1>
                <h1 class="action-subheader">
                  Hop on our daily webinar at 3:30 PM EST
                </h1>
              </div>
            </div>
            <div class="action-button-wrapper">
              <a href="#" class="action-button">Free Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include("common/footer-content.ejs") %>
</main>

<%- include("common/footer.ejs") %>
