<%- include("common/header.ejs") %>
    <%- include("common/navbar.ejs") %>

    <main id="main-process">
        <section id="services-banner">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-4 p-0">
                        <img src="/img/services/banner-bg.png" class="services-banner-img img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h1 class="services-banner-header">Our Process</h1>
                        <p class="services-banner-subheader">
                            Why I say old chap that is spiffing off his nut arse pear shaped plastered
                            Jeffrey bodge barney some dodgy.!!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="process">
            <div class="container" style="position: relative;">
                <div class="dot-img">
                    <img src="/img/process/dot_5_items.png" alt="">
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6">
                        <div class="process-wrapper">
                            <img src="/img/process/icons/1.png" width="40" height="65" alt="">
                            <h4>Feugiat imperdiet fugiat accumsan consect etuer</h4>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack excuse my French what a plonker blower.!</p>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6">
                        <img src="/img/process/process_1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6">
                        <img src="/img/process/process_2.png" alt="">
                    </div>
                    <div class="col-10 col-lg-6 order-first order-lg-last">
                        <div class="process-wrapper">
                            <img src="/img/process/icons/2.png" width="40" height="65" alt="">
                            <h4>Feugiat imperdiet fugiat accumsan consect etuer</h4>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack excuse my French what a plonker blower.!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6">
                        <div class="process-wrapper">
                            <img src="/img/process/icons/3.png" width="40" height="65" alt="">
                            <h4>Feugiat imperdiet fugiat accumsan consect etuer</h4>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack excuse my French what a plonker blower.!</p>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6">
                        <img src="/img/process/process_3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6">
                        <img src="/img/process/process_4.png" alt="">
                    </div>
                    <div class="col-10 col-lg-6 order-first order-lg-last">
                        <div class="process-wrapper">
                            <img src="/img/process/icons/4.png" width="40" height="65" alt="">
                            <h4>Feugiat imperdiet fugiat accumsan consect etuer</h4>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack excuse my French what a plonker blower.!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6">
                        <div class="process-wrapper">
                            <img src="/img/process/icons/5.png" width="40" height="65" alt="">
                            <h4>Feugiat imperdiet fugiat accumsan consect etuer</h4>
                            <p>Why I say old chap that is spiffing bodge, blag pardon me buggered mufty Oxford butty bubble and squeak wind up, brown bread the full monty bloke ruddy cras tickety-boo squiffy. Starkers dropped a clanger lurgy is cack excuse my French what a plonker blower.!</p>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6">
                        <img src="/img/process/process_5.png" alt="">
                    </div>
                </div>
            </div>
        </section>





        <%- include("common/footer-content-secondary.ejs") %>
    </main>
<%- include("common/footer.ejs") %>
