<%- include("common/header.ejs") %>
    <%- include("common/navbar.ejs") %>

    <main id="main-section-3">
        <section id="services-banner">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-4 p-0">
                        <img src="/img/services/banner-bg.png" class="services-banner-img img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h1 class="services-banner-header">What we Offer</h1>
                        <p class="services-banner-subheader">
                            Why I say old chap that is spiffing off his nut arse pear shaped plastered
                            Jeffrey bodge barney some dodgy.!!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-droplets">
            <div class="container mb-4">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8" style="z-index: 30 !important;">
                        <h1 class="services-how-we-work-header mb-4" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">
                            Rapidly provision one to thousands of
                            Droplets in seconds
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-4">
                        <div class="droplets-box" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">
                            <div class="image-box">
                                <img src="/img/services/icons/icon_shape.png" class="im-1" width="120" height="100" alt="">
                                <img src="/img/services/icons/icon1.png" class="im-2" width="38" height="38" alt="">
                            </div>
                            <h1>Build better apps faster</h1>
                            <p>Crikey blow off chap knackered gosh bobby geeza gormless well, Charles cheeky bugger I cor blimey guvnor hanky panky jolly good.</p>
                        </div>
                    </div>
                    <div class="col-10 col-lg-4">
                        <div class="droplets-box" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">
                            <div class="image-box">
                                <img src="/img/services/icons/icon_shape.png" class="im-1" width="120" height="100" alt="">
                                <img src="/img/services/icons/icon2.png" class="im-2" width="38" height="38" alt="">
                            </div>
                            <h1>Build better apps faster</h1>
                            <p>Crikey blow off chap knackered gosh bobby geeza gormless well, Charles cheeky bugger I cor blimey guvnor hanky panky jolly good.</p>
                        </div>
                    </div>
                    <div class="col-10 col-lg-4">
                        <div class="droplets-box" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="400">
                            <div class="image-box">
                                <img src="/img/services/icons/icon_shape.png" class="im-1" width="120" height="100" alt="">
                                <img src="/img/services/icons/icon3.png" class="im-2" width="38" height="38" alt="">
                            </div>
                            <h1>Build better apps faster</h1>
                            <p>Crikey blow off chap knackered gosh bobby geeza gormless well, Charles cheeky bugger I cor blimey guvnor hanky panky jolly good.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-offer">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-10 col-lg-5 mt-3">
                        <h2 class="services-approach-header" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">What we are Offering?</h2>
                        <div class="offer-items" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">
                            <div>
                                <a id="offer-btn-1" class="offer-btn">Ruby</a>
                                <span id="underline-1" class="underline  offer-items-animation"></span>
                            </div>
                            <div>
                                <a id="offer-btn-2"  class="offer-btn">Curl</a>
                                <span id="underline-2" class="underline"></span>
                            </div>
                            <div>
                                <a id="offer-btn-3"  class="offer-btn">Resize</a>
                                <span id="underline-3" class="underline"></span>
                            </div>
                            <div>
                                <a id="offer-btn-4"  class="offer-btn">Doct</a>
                                <span id="underline-4" class="underline"></span>
                            </div>
                            <span class="global-underline"></span>
                        </div>
                        <p class="services-approach-subheader" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="400">Tickety-boo cheers plastered twit chimney pot off his nut hotpot spend a penny have it, so I said squiffy A bit of how’s your father mufty pukka knees up absolutely bladdered brown bread, James Bond boot spiffing ummm I’m telling vagabond arse over tit burke. He lost his bottle mush old spend a penny wellies gormless bite.!
                        </p>
                    </div>
                    <div class="col-10 col-lg-6 mt-4">
                        <img src="/img/services/service.png" id="offer-1" class="img-fluid"  alt="">
                        <img src="/img/services/service2.png" id="offer-2" class="img-fluid d-none"  alt="">
                        <img src="/img/services/service.png" id="offer-3" class="img-fluid d-none"  alt="">
                        <img src="/img/services/service2.png" id="offer-4" class="img-fluid d-none"  alt="">
                    </div>
                </div>
            </div>
        </section>


        <section id="services-social">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-10 col-lg-6 mt-4 pl-0 order-last order-lg-first">
                        <img src="/img/services/service_details.png" class="img-fluid" style="transform: scale(0.9);" alt="">
                    </div>
                    <div class="col-10 col-lg-5 mt-3 justify-content-center">
                        <div class="services-social-div">
                            <h2 class="services-social-header" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">Social intranet software that drives employee engagement and productivity.</h2>
                            <p class="services-social-subheader" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky.!
                            </p>
                            <div class="approach mt-0" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="400">
                                <div>
                                  <i class="ti-arrow-circle-right"></i>
                                  <span>Research</span>
                                </div>
                                <div>
                                  <i class="ti-arrow-circle-right"></i>
                                  <span>Opportunity Analysis</span>
                                </div>
                                <div>
                                  <i class="ti-arrow-circle-right"></i>
                                  <span>Consulting</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("common/footer-content-secondary.ejs") %>
    </main>
<%- include("common/footer.ejs") %>
