<%- include("common/header.ejs") %>
    <%- include("common/navbar.ejs") %>

    <main id="main-section-2">
        <section id="services-banner">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="col-4 p-0">
                        <img src="/img/services/banner-bg.png" class="services-banner-img img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h1 class="services-banner-header">Business Analytics</h1>
                        <p class="services-banner-subheader">
                            Why I say old chap that is spiffing off his nut arse pear shaped plastered
                            Jeffrey bodge barney some dodgy.!!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-how-we-work">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-6" style="z-index: 30 !important;">
                        <h1 class="services-how-we-work-header">
                            How We Work
                        </h1>
                        <p class="services-how-we-work-subheader">
                            Mush bobby loo bugger all mate on your bike mate at public school
                            lemon squeezy posh, cuppa cup.!
                        </p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-4">
                        <div class="how-we-work-box" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">
                            <i class="ti-stats-up app-icon icon1"></i>
                            <h4>Mail Metrics Receive</h4>
                            <span>Brolly off his nut A bit of how's your father
                                 chancer in my flat chinwag bog skive.</span>
                        </div>
                    </div>
                    <div class="col-10 col-lg-4">
                        <div class="how-we-work-box" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="300">
                            <i class="ti-wand app-icon icon2"></i>
                            <h4>Mail Metrics Receive</h4>
                            <span>Brolly off his nut A bit of how's your father
                                 chancer in my flat chinwag bog skive.</span>
                        </div>
                    </div>
                    <div class="col-10 col-lg-4">
                        <div class="how-we-work-box" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="600">
                            <i class="ti-support app-icon icon3"></i>
                            <h4>Mail Metrics Receive</h4>
                            <span>Brolly off his nut A bit of how's your father
                                 chancer in my flat chinwag bog skive.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services-approach">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-10 col-lg-5 mt-3">
                        <h2 class="services-approach-header" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">Predictive and imperative approach towards software.</h2>
                        <p class="services-approach-subheader"  data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky.!
                        </p>
                        <div class="approach">
                            <div>
                              <i class="fas fa-check"></i>
                              <span>Only a quid I dropped a clanger matie boy excuse my French hanky.</span>
                            </div>
                            <div>
                              <i class="fas fa-check"></i>
                              <span>Panky pardon you me old mucker bum bag, bevvy bloke it’s all gone to pot.</span>
                            </div>
                            <div>
                              <i class="fas fa-check"></i>
                              <span>Ummm I’m telling bits and bobs mush baking cakes car boot.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-lg-6 mt-4">
                        <img src="/img/services/service_details_one.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>


        <section id="services-social">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-10 col-lg-6 mt-4 pl-0 order-last order-lg-first">
                        <img src="/img/services/service_details.png" class="img-fluid" style="transform: scale(0.9);" alt="">
                    </div>
                    <div class="col-10 col-lg-5 mt-3 justify-content-center">
                        <div class="services-social-div">
                            <h2 class="services-social-header" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500">Predictive and imperative approach towards software.</h2>
                            <p class="services-social-subheader" data-aos="fade-up"  data-aos-once="true" data-aos-duration="1500" data-aos-delay="200">Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky.!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include("common/footer-content-secondary.ejs") %>
    </main>
<%- include("common/footer.ejs") %>
