<section id="footer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-3">
          <div class="footer-left-box">
            <h1>Cloud Academy</h1>
            <span>© 2021 SaasLand, LLC. All rights reserved. Proudly made in NY</span>
          </div>
        </div>
        <div class="col-12 col-lg-3 footer-grid">
          <div class="footer-right-box">
            <p>Download</p>
            <div class="footer-items">
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 footer-grid">
          <div class="footer-right-box">
            <p>Download</p>
            <div class="footer-items">
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 footer-grid">
          <div class="footer-right-box">
            <p>Download</p>
            <div class="footer-items">
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 4rem;">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6 text-center">
          <img src="/img/landing/people.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <div class="leaf-left">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 p-0">
            <img src="/img/landing/leaf-left.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="leaf-right">
      <div class="container-fluid">
        <div class="row justify-content-end">
          <div class="col-12  p-0">
            <img src="/img/landing/leaf-right.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid footer-bottom">
    </div>
</section>
