<section id="footer-secondary">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-lg-3">
          <div class="footer-secondary-left-box">
            <h1>Cloud Academy</h1>
            <span>© 2021 SaasLand, LLC. All rights reserved. Proudly made in NY</span>
          </div>
        </div>
        <div class="col-12 col-lg-3 footer-secondary-grid">
          <div class="footer-secondary-right-box">
            <p>Download</p>
            <div class="footer-secondary-items">
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 footer-secondary-grid">
          <div class="footer-secondary-right-box">
            <p>Download</p>
            <div class="footer-secondary-items">
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 footer-secondary-grid">
          <div class="footer-secondary-right-box">
            <p>Download</p>
            <div class="footer-secondary-items">
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
              <span><a href="#">Company</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 4rem;">
      <div class="row justify-content-center p-0">
        <div class="col-12 col-lg-12 text-center p-0">
          <img src="/img/landing/footer_bg.png" class="img-fluid" alt="">
        </div>
      </div>

      <div class="footer-secondary-sm">
        <img src="/img/landing/car.png" alt="">
      </div>
      <div class="footer-secondary-sm-2">
        <img src="/img/landing/bike.png" alt="">
      </div>

    </div>
</section>
